{% set page_title = workshop.title %}
{% extends "base.html" %}
{% block content %}

<script src='https://slideslive.com/embed_presentation.js'></script>
<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{workshop.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{ workshop.organizers | join(", ") }}
    </h3>
    <div class="text-center p-3">
      <a class="card-link" data-toggle="collapse" role="button" href="#details">
        Description
      </a>
      {% if workshop.schedule %}
      <a class="card-link" data-toggle="collapse" role="button" href="#schedule">
        Schedule
      </a>
      {% endif %}
      <a href="{{workshop.material}}" target="_blank"  class="card-link">
        Website
      </a>
    </div>
    <div class="text-center text-muted text-monospace">
      <div class="workshop-times">
        {% if workshop.session2_time %}
          {% if workshop.id == 'W2' %}
            Live Session 1: July 9 <span class="workshop_times">{{workshop.session1_time}}</span>
          {% else %}
            Live Session 1: {{workshop.day}} <span class="workshop_times">{{workshop.session1_time}}</span>
          {% endif %}
          <a href="{{workshop.zoom_link}}" target="_blank"  class="card-link">
            <!--
            <img
                src="static/images/zoom-icon.png"
                height="24px"
                alt="Join Zoom Meeting"
                title="Join Zoom Meeting"
            >
            -->
            [Join Zoom Meeting]
          </a>
          <br/>
          {% if workshop.id == 'W2' %}
            Live Session 2:  July 10 <span class="workshop_times">{{workshop.session2_time}}</span>
          {% else %}
            Live Session 2: {{workshop.day}} <span class="workshop_times">{{workshop.session2_time}}</span>
          {% endif %}
          <a href="{{workshop.zoom_link}}" target="_blank"  class="card-link">
            <!--
            <img
                src="static/images/zoom-icon.png"
                height="24px"
                alt="Join Zoom Meeting"
                title="Join Zoom Meeting"
            >
            -->
            [Join Zoom Meeting]
          </a>
        {% else %}
          Live Session: {{workshop.day}} <span class="workshop_times">{{workshop.session1_time}}</span>
          <a href="{{workshop.zoom_link}}" target="_blank"  class="card-link">
            <!--
            <img
                src="static/images/zoom-icon.png"
                height="24px"
                alt="Join Zoom Meeting"
                title="Join Zoom Meeting"
            >
            -->
            [Join Zoom Meeting]
          </a>
        {% endif %}
        {% if workshop.session3_time %}
          <br/>
          {% if workshop.id == 'W2' %}
            Live Session 3: July 10 <span class="workshop_times">{{workshop.session3_time}}</span>
          {% else %}
            Live Session 3: {{workshop.day}} <span class="workshop_times">{{workshop.session3_time}}</span>
          {% endif %}
          <a href="{{workshop.zoom_link}}" target="_blank"  class="card-link">
            <!--
            <img
                src="static/images/zoom-icon.png"
                height="24px"
                alt="Join Zoom Meeting"
                title="Join Zoom Meeting"
            >
            -->
            [Join Zoom Meeting]
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div id="details" class="pp-card m-3 collapse hide">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Abstract:</span>
        {{workshop.abstract|safe}} <br />
      </div>
    </div>
    <p></p>
  </div>
</div>
<!-- Schedule -->
{% if workshop.schedule %}
<div id="schedule" class="collapse" aria-labelledby="schedule">
  <div class="card-body">
    <table class="table table-bordered table-striped" style="font-size: small;">
      <thead>
        <tr>
          <th scope="col" style="width: 20%;">Time (PDT)</th>
          <th scope="col" style="width: 25%;">Event</th>
          <th scope="col">Speakers</th>          
        </tr>
      </thead>
      <tbody>
        {% for event in workshop.schedule %}
        <tr>          
          <td>{{event.date+', '+event.startTime+'-'+event.endTime}}</td>
          <td scope="row">{{event.title}}</td>
          <td style="white-space: pre-wrap;">{{event.speakers}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
<script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(() => {
    add_local_tz('.workshop_times');
  })
</script>

<div class="container" style="background-color:white; padding: 0px;">
  <div class="text-muted text-center">
  You can open the
  {% if workshop.livestream %}
  <a href="https://slideslive.com/{{workshop.livestream}}" target="_blank">livestream video</a>
  and
  {% endif %}
  the
  <a href="https://{{config.chat_server}}/channel/{{workshop.rocketchat_channel}}" target="_blank">
    #{{ workshop.rocketchat_channel }}
  </a>
  channel
  {% if workshop.livestream %}
  in separate windows.
  {% else %}
  in a separate window.
  {% endif %}

  </div>

  <div class="row m-2">    
    {% if workshop.livestream %}
    <!-- Livestreaming -->
    <div class="col-md-7 col-xs-12 my-auto p-2" >
      <div id="presentation-embed" class="slp my-auto"></div>
      <script>
        embed = new SlidesLiveEmbed('presentation-embed', {
        presentationId: '{{workshop.livestream}}',
        autoPlay: false, // change to true to autoplay the embedded presentation
        verticalEnabled: true,
        verticalWhenWidthLte: 500,
        allowHiddenControlsWhenPaused: true,
        hideTitle: true
        });
      </script>
    </div>
    {% endif %}

    <!-- Chat -->
    <br/>
    <div class="col-md-5 col-xs-12 p-2">
      <div id="gitter" class="slp">
        <iframe frameborder="0" src="https://{{config.chat_server}}/channel/{{workshop.rocketchat_channel}}?layout=embedded" height="700px" width="100%" ></iframe>
      </div>
    </div>
  </div>
</div>

<!-- Prerecorded Talk -->
{{ components.section("Pre-recorded Talks") }}
<div id="accordion">
  {% for paper in workshop.papers %}
  <div class="row m-2">
    <div class="card col-md-12 col-xs-12 my-auto mp-2 bg-light">
        <br/>
        <p>
          <a href="https://slideslive.com/{{paper.presentation_id}}" target="_blank"><b>{{paper.title}}</b></a>
        </p>
        <p>
          <i>{{paper.speakers}}</i>
        </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
