{% extends "base.html" %}
{% set active_page = "Workshops" %}
{% set page_title = "Workshops" %}

{% block heading %}
{{ components.section("Workshops") }}
<div class="col-12 bd-content">
<h4 class="text-center text-muted">
  You can also view the calendar in the <a href="schedule.html" target="_blank">Schedule</a> page and
  choose the "day" view for July 9 and July 10.
</h4>
</div>
{% endblock %}

{% block content %}
<div class="workshops">
  {{ components.workshopgroup(workshops) }}
</div>

<script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>

{% endblock %}
